.nav li
{
    float: left;

    height: 50px;
    padding-top: 17.5px !important;
    padding-right: 20px;
    padding-left: 20px;

    list-style: none;

    cursor: pointer;
    -webkit-transition: background-color ease-in-out .5s;
       -moz-transition: background-color ease-in-out .5s;
         -o-transition: background-color ease-in-out .5s;
            transition: background-color ease-in-out .5s;
    text-align: center;

    color: #fff;
    border-left: 1px solid rgba(0,0,0,.1);
    background-color: none;
    text-shadow: 0 -3px 3px rgba(255, 255, 255, .2);
}
.nav li a,a:visited,a:hover
{
    text-decoration: none;

    color: white;
}
.nav li:first-child
{
    font-weight: bold;

    border-left: none;
}
.nav li:hover
{
    background-color: #454e55;
}
.nav li.active
{
    background-color: rgba(255,255,255,.2);
}
.nav li.right
{
    float: right;
}